
.metadata
.idea


.firebase/
**/.firebase/

# firebase cloud funcions key
key.ts
**/key.ts

key.dart
keys.dart
**/key.dart
**/keys.dart


tmp/

# apps
apps/
**/firebase_options.dart
example/**/firebase_options.dart


example/android/
example/ios/
example/web/
example/linux/
example/macos/
example/windows/
example/build/
example/.dart_tool/
example/.packages
example/.pub/
example/.flutter-plugins
example/.flutter-plugins-dependencies



android/
ios/
web/
linux/
macos/
windows/
build/

.dart_tool/

#
.flutter-plugins
.flutter-plugins-dependencies

# mkdocs
venv/


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
